{% extends 'base.html.twig' %}
{% block title %} Message {% endblock %}

{% block body %}
<div class="container" style="height: 91vh;">
    <div class="columns" style="margin-top: 10px;">
        <div class="column is-one-quarter"
            style="border: 3px solid black; height: 90vh; overflow: auto; padding: 0;  border-radius: 0.1%;">
            <div class="level" style="margin-top: 15px;">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title" style="font-size: 20px;">ufeiozg</p>
                    </div>
                </div>
            </div>
            <div style="background-color: #dddddd; border:0.5px solid #dddddd; height: 1px;"></div>
            <div class="level" style="margin-top: 15px;">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title" style="font-size: 20px;">ufeiozg</p>
                    </div>
                </div>
            </div>
            <div style="background-color: #dddddd; border:0.5px solid #dddddd; height: 1px;"></div>
            <div class="level" style="margin-top: 15px;">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title" style="font-size: 20px;">ufeiozg</p>
                    </div>
                </div>
            </div>
            <div style="background-color: #dddddd; border:0.5px solid #dddddd; height: 1px;"></div>
            <div class="level" style="margin-top: 15px;">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title" style="font-size: 20px;">ufeiozg</p>
                    </div>
                </div>
            </div>
            <div style="background-color: #dddddd; border:0.5px solid #dddddd; height: 1px;"></div>
            <div class="level" style="margin-top: 15px;">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title" style="font-size: 20px;">ufeiozg</p>
                    </div>
                </div>
            </div>
            <div style="background-color: #dddddd; border:0.5px solid #dddddd; height: 1px;"></div>


        </div>
        <div class="column"
            style="border: 1px solid black; height: 90vh; padding: 0; position:relative; border-radius: 0.1%;">
            <div style="overflow-y: auto; overflow-x: hidden; height: 89%">
                <div
                    style="width: 250px; height: 70px; background-color: rgb(248, 227, 135); margin-top: 30px; margin-left: 20px; border-radius: 10px;">
                    <p style="color: #454545;">erzfgenjordg</p>
                </div>
                <div
                    style="width: 250px; height: 70px; background-color: rgb(231, 231, 231); margin-top: 25px; margin-left: 69%; border-radius: 10px; ">
                    <p style="color: #454545;">erzfgenjordg</p>
                </div>
                <div
                    style="width: 250px; height: 70px; background-color: rgb(231, 231, 231); margin-top: 25px; margin-left: 69%; border-radius: 10px; ">
                    <p>erzfgenjordg</p>
                </div>
                <div
                    style="width: 250px; height: 70px; background-color: rgb(231, 231, 231); margin-top: 25px; margin-left: 69%; border-radius: 10px; ">
                    <p>erzfgenjordg</p>
                </div>
                <div
                    style="width: 250px; height: 70px; background-color: rgb(248, 227, 135); margin-top: 30px; margin-left: 20px; border-radius: 10px;">
                    <p style="color: #454545;">erzfgenjordg</p>
                </div>
                <div
                    style="width: 250px; height: 70px; background-color: rgb(248, 227, 135); margin-top: 30px; margin-left: 20px; border-radius: 10px;">
                    <p style="color: #454545;">erzfgenjordg</p>
                </div>
                <div
                    style="width: 250px; height: 70px; background-color: rgb(248, 227, 135); margin-top: 30px; margin-left: 20px; border-radius: 10px;">
                    <p style="color: #454545;">erzfgenjordg</p>
                </div>
            </div>
            <div class="column"
                style="border-top: 0.5px solid #dddddd; height: 10vh; position:absolute; bottom:0; width: 100.2%">


                <div class="field has-addons">
                    <p class="control is-expanded">
                        <input class="input" type="text" placeholder="Envoyer un message...">
                    </p>
                    <p class="control">
                        <a class="button">
                            Envoyer un message
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}