{% extends 'base.html.twig' %}
{% block link %}
	<link rel="stylesheet" href="{{ asset('/css/profil.css')}}">
{% endblock %}

{% block body %}

  <h1 style="text-align: center; padding-bottom: 20px"><strong>Vos notifications<strong></h1>
  <HR>
			<div class="level">
				<div class="level-item has-text-centered">
					<div>
						<p class="heading"></p>
						<p class="title">
							<figure class="image is-64x64">
								<img src="{{ asset('/img/yg.jpg') }}" alt="" width="112px" height="150px" class="is-rounded">
							</figure>
						</p>
					</div>
				</div>
				<div class="level-item has-text-centered">
					<div>
						<p class="heading"></p>
						<p class="title" style:"font-size: 10px;">
							<strong>Yamina Gherbi</strong>
							a ajouté une nouvelle photo</p>
					</div>
				</div>
				<div class="level-item has-text-centered">
					<div>
						<p class="heading">
							<button>X</button>
						</p>
					</div>
				</div>
			</div>
			<HR>
      	<div class="level">
				<div class="level-item has-text-centered">
					<div>
						<p class="heading"></p>
						<p class="title">
							<figure class="image is-64x64">
								<img src="{{ asset('/img/yg.jpg') }}" alt="" width="112px" height="150px" class="is-rounded">
							</figure>
						</p>
					</div>
				</div>
				<div class="level-item has-text-centered">
					<div>
						<p class="heading"></p>
						<p class="title" style:"font-size: 10px;">
							<strong>Yamina Gherbi</strong>
							a ajouté une nouvelle photo</p>
					</div>
				</div>
				<div class="level-item has-text-centered">
					<div>
						<p class="heading">
							<button>X</button>
						</p>
					</div>
				</div>
			</div>


</div></div>{% endblock %}
