{% extends 'base.html.twig' %}
{% block link %} <link rel="stylesheet" href="{{ asset('/css/profil.css')}}">{% endblock %}
   
{% block body %}
<div>
 <img style="max-height: 200px; min-width: 20%" src="{{ asset('/img/yg.JPG') }}">
 <style text-align
 </div>
{% endblock %}